<!doctype html>
{% extends "paneladministracion/index.html" %}
{% load static %}


{% block titulo %} {{titulo}} {% endblock %}


{% block contenido_dinamico %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Asignaciones</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Ord.</th>
                        <th>Cuenta</th>
                        <th>Codigo</th>
                        <th>Detalle</th>
                        <th>Color</th>
                        <th>Condicion</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if json %}
                    {% for act in json %}
                    <tr role="row" class="odd">
                        <td class="sorting_1">{{ forloop.counter }}</td>
                        <td>{{ act.cta_co_codigo }}</td>
                        <td>{{ act.cta_co_codigo }}</td>
                        <td>{{ act.act_fi_nombre }}</td>
                        <td>{{ act.act_fi_color}}</td>
                        <td>{{ act.act_fi_condicion }}</td>
                        <td>
                            <a CLASS="btn btn-primary" href="" title="Mantenimiento"><span class="ti-receipt"></span></a>
                            <!--<a class="btn btn-danger" href=""></a>-->
                            <!--<a class="btn btn btn-success" href=""></a>-->
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h1>No hay registos para mostrar</h1>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
{% endblock %}
{% block adicionales %}

<script type="text/javascript">
    $(document).ready(function() {
      $('#bootstrap-data-table-export').DataTable();
  } );
</script>
{% endblock %}